@import url(./__image/flat-card__image.css);
@import url(./__like-icon/flat-card__like-icon.css);
@import url(./__title/flat-card__title.css);
@import url(./__description/flat-card__description.css);

.flat-card {
  max-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 360px;
  position: relative;
}